h1 {
    font-style: normal;
    font-family: Anurati;
    color: #fdf906;
    text-transform: 40px;
    text-indent: center;
    text-align: center;
    font-size: xx-large;
    font: weight 400px;
    text-shadow: yellow;
}